@model IEnumerable<Shipper2.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<div>
    <h3><em>Best Selling</em> Products</h3>
    <ul id="album-list">
        @foreach (var product in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Store",
                new { id = product.ProductId })">
                    <img alt="@product.Name" src="@product.ProductImage" />
                    <span>@product.Name</span>
                </a>
            </li>
        }
    </ul>
</div>